@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --primary: #7e22ce;
  --primary-foreground: #ffffff;
  --secondary: #f3e8ff;
  --secondary-foreground: #6b21a8;
  --accent: #d8b4fe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0213;
    --foreground: #f8fafc;
    --primary: #9333ea;
    --primary-foreground: #ffffff;
    --secondary: #2e1065;
    --secondary-foreground: #e9d5ff;
    --accent: #a855f7;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  scroll-behavior: smooth;
}
